body {
  text-align: center;
  background-color: #BBD0C8;
}

header {
  padding: 30px 50px;
  font-family: 'Poller One', cursive;
  font-size: 50px;
}

img {
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  margin-bottom: 40px;
}

button {
  text-transform: uppercase;
  border: 1px solid black;
  background-color: #D56237;
  padding: 8px;
  border-radius: 16%;
}

section {
display: flex;
flex-direction: column;
justify-content: space-between;
}

footer {
background-color: #D9D992;
height: 25px;
padding-top: 12px;
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

h3 {
font-family: 'Poller One', cursive;
font-size: 15px;
}

.search-section {
  margin: 40px;
}

.results-list {
  border: 3px solid black;
}

@media only screen and (max-width: 400px) {
footer{
  display: none;
  }
}