body {
  text-align: center;
  background-color: #BBD0C8;
}

header {
  padding: 30px 50px;
  font-family: 'Poller One', cursive;
  font-size: 50px;
}

img {
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  margin-bottom: 40px;
}

button {
  text-transform: uppercase;
  border: 1px solid black;
  background-color: #D56237;
  padding: 8px;
  border-radius: 16%;
}

h3{

}

.search-section {
  margin: 40px;
}

.results {

}